#### Problem: Analyse the dataset “chipotle.tsv” available via Python in any IDE of your choice and provide solution for following queries. (20 points)

Task A: Identify the star product for the company?

Task B: What’s the most selling product and most expensive product?

Task C: Assuming a profit markup of 60% on each product, which product has the highest share in revenue?

Task D: Company is planning is reducing the size of Menu. Kindly recommend the menu items to keep and which one to drop. Please explain briefly.

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.read_csv('datasets\chipotle.tsv', sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Task A: Identify the star product for the company?

In [3]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [4]:
prod_quant = pd.DataFrame(df.groupby('item_name')['quantity'].sum())
prod_quant = prod_quant.reset_index().sort_values(by = 'quantity', ascending=False)
prod_quant = prod_quant.reset_index(drop=True)
prod_quant
#

                                item_name  quantity
0                            Chicken Bowl       761
1                         Chicken Burrito       591
2                     Chips and Guacamole       506
3                           Steak Burrito       386
4                       Canned Soft Drink       351
5                                   Chips       230
6                              Steak Bowl       221
7                           Bottled Water       211
8            Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
10                     Chicken Salad Bowl       123
11                     Chicken Soft Tacos       120
12                          Side of Chips       110
13                         Veggie Burrito        97
14                       Barbacoa Burrito        91
15                            Veggie Bowl        87
16                          Carnitas Bowl        71
17                          Barbacoa Bowl        66
18                       Carnitas Burrito        60
19                       Steak Soft Tacos        56
20                      6 Pack Soft Drink        55
21    Chips and Tomatillo Red Chili Salsa        50
22                   Chicken Crispy Tacos        50
23  Chips and Tomatillo Green Chili Salsa        45
24                    Carnitas Soft Tacos        40
25                     Steak Crispy Tacos        36
26  Chips and Tomatillo-Green Chili Salsa        33
27                       Steak Salad Bowl        31
28                       Nantucket Nectar        29
29    Chips and Tomatillo-Red Chili Salsa        25
30                    Barbacoa Soft Tacos        25
31     Chips and Roasted Chili Corn Salsa        23
32                                   Izze        20
33                      Veggie Salad Bowl        18
34     Chips and Roasted Chili-Corn Salsa        18
35                  Barbacoa Crispy Tacos        12
36                    Barbacoa Salad Bowl        10
37                          Chicken Salad         9
38                  Carnitas Crispy Tacos         8
39                      Veggie Soft Tacos         8
40                                Burrito         6
41                           Veggie Salad         6
42                    Carnitas Salad Bowl         6
43                                   Bowl         4
44                            Steak Salad         4
45                                  Salad         2
46                           Crispy Tacos         2
47      Chips and Mild Fresh Tomato Salsa         1
48                         Carnitas Salad         1
49                    Veggie Crispy Tacos         1

In [5]:
prod_quant['row_num'] = prod_quant.quantity.rank(method='first',ascending=False)
prod_quant

                                item_name  quantity  row_num
0                            Chicken Bowl       761      1.0
1                         Chicken Burrito       591      2.0
2                     Chips and Guacamole       506      3.0
3                           Steak Burrito       386      4.0
4                       Canned Soft Drink       351      5.0
5                                   Chips       230      6.0
6                              Steak Bowl       221      7.0
7                           Bottled Water       211      8.0
8            Chips and Fresh Tomato Salsa       130      9.0
9                             Canned Soda       126     10.0
10                     Chicken Salad Bowl       123     11.0
11                     Chicken Soft Tacos       120     12.0
12                          Side of Chips       110     13.0
13                         Veggie Burrito        97     14.0
14                       Barbacoa Burrito        91     15.0
15                            Veggie Bowl        87     16.0
16                          Carnitas Bowl        71     17.0
17                          Barbacoa Bowl        66     18.0
18                       Carnitas Burrito        60     19.0
19                       Steak Soft Tacos        56     20.0
20                      6 Pack Soft Drink        55     21.0
21    Chips and Tomatillo Red Chili Salsa        50     22.0
22                   Chicken Crispy Tacos        50     23.0
23  Chips and Tomatillo Green Chili Salsa        45     24.0
24                    Carnitas Soft Tacos        40     25.0
25                     Steak Crispy Tacos        36     26.0
26  Chips and Tomatillo-Green Chili Salsa        33     27.0
27                       Steak Salad Bowl        31     28.0
28                       Nantucket Nectar        29     29.0
29    Chips and Tomatillo-Red Chili Salsa        25     30.0
30                    Barbacoa Soft Tacos        25     31.0
31     Chips and Roasted Chili Corn Salsa        23     32.0
32                                   Izze        20     33.0
33                      Veggie Salad Bowl        18     34.0
34     Chips and Roasted Chili-Corn Salsa        18     35.0
35                  Barbacoa Crispy Tacos        12     36.0
36                    Barbacoa Salad Bowl        10     37.0
37                          Chicken Salad         9     38.0
38                  Carnitas Crispy Tacos         8     39.0
39                      Veggie Soft Tacos         8     40.0
40                                Burrito         6     41.0
41                           Veggie Salad         6     42.0
42                    Carnitas Salad Bowl         6     43.0
43                                   Bowl         4     44.0
44                            Steak Salad         4     45.0
45                                  Salad         2     46.0
46                           Crispy Tacos         2     47.0
47      Chips and Mild Fresh Tomato Salsa         1     48.0
48                         Carnitas Salad         1     49.0
49                    Veggie Crispy Tacos         1     50.0

In [6]:
star_product = prod_quant[prod_quant.row_num == 1.0]
star_product

      item_name  quantity  row_num
0  Chicken Bowl       761      1.0