In [1]:
# Pandas DataFrames
# Creation
# Slicing and indexing
# Row and column labels
# misc functions
# group by aggregation

In [2]:
# What diff methods to create a df in pandas?

In [3]:
# 1. List
# 2. Np array
# 3. Dictionary
# 4. CSV

In [1]:
import pandas as pd

In [1]:
import pandas as pd

In [4]:
# Define student details like roll num, name, math marks in a list of lists

a = [[1, 'Person 1', 95],
    [2, 'Person 2', 89],
    [3, 'Person 3', 67]]

In [2]:
a=[[1,'person1',95],
   [2,'person2',89],
   [3,'person3',67]]

In [9]:
pd.DataFrame(a, columns = ['Roll Number', 'Name', 'Math marks'])

   Roll Number      Name  Math marks
0            1  Person 1          95
1            2  Person 2          89
2            3  Person 3          67

In [3]:
pd.DataFrame(a,columns=['Rollno','Name', 'Mathmarks'])

   Rollno     Name  Mathmarks
0       1  person1         95
1       2  person2         89
2       3  person3         67

In [7]:
# What would be the names of columns of the above df?

In [2]:
# Deine a X Dimension np array
# X = 2
import numpy as np
import pandas as pd

In [26]:
b = np.random.randint(1,10,(3,3))
b

array([[3, 7, 3],
       [9, 8, 6],
       [9, 3, 8]])

In [5]:
b=np.random.randint(1,10,(3,3))
b

array([[6, 3, 3],
       [4, 9, 5],
       [3, 5, 2]])

In [6]:
pd.DataFrame(b)

   0  1  2
0  6  3  3
1  4  9  5
2  3  5  2

In [27]:
pd.DataFrame(b)

   0  1  2
0  3  7  3
1  9  8  6
2  9  3  8

In [8]:
pd.DataFrame(b,['R1','R2','R3'],['C1','C2','C3'])

    C1  C2  C3
R1   6   3   3
R2   4   9   5
R3   3   5   2

In [28]:
pd.DataFrame(b,['A','B','C'])

   0  1  2
A  3  7  3
B  9  8  6
C  9  3  8

In [29]:
pd.DataFrame(b,['A','B','C'],['C1','C2','C3'])

   C1  C2  C3
A   3   7   3
B   9   8   6
C   9   3   8

In [174]:
# Define a dictionary

dict_ = {'Name': ['Name 1', 'Name 2', 'Name 3'],
        'Department': ['IT', 'HR', 'DA'],
        'Salary': [100,200,300]}

In [9]:
dic={'col1': [1,2,3],
     'col2':[4,5,6],
     'col4':[7,8,9]}
pd.DataFrame(dic)

   col1  col2  col4
0     1     4     7
1     2     5     8
2     3     6     9

In [34]:
# From where did the column names get picked from?

pd.DataFrame(dict_)

     Name Department  Salary
0  Name 1         IT     100
1  Name 2         HR     200
2  Name 3         DA     300

In [35]:
# CSV

In [6]:
train=pd.read_csv('Laliga_scores.csv')
train.head(10)
# Name of file being imported should be correct (make sure that capital letters, spaces, underscores etc are taken care of)
# Make sure the file being imported is in the same directory/folder as the python file
# if not, provide entire file path / location of the file
# Make sure to mention the extension of the file as well

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,1932-33,1

In [5]:
list(train)

['Pos',
 'Team',
 'Seasons',
 'Points',
 'GamesPlayed',
 'GamesWon',
 'GamesDrawn',
 'GamesLost',
 'GoalsFor',
 'GoalsAgainst',
 'Champion',
 'Runner-up',
 'Third',
 'Fourth',
 'Fifth',
 'Sixth',
 'Debut',
 'BestPosition']

In [8]:
train.shape[0]

61

In [4]:
desc = pd.DataFrame(index = list(train))
desc['count'] = train.count()
desc['nunique'] = train.nunique()
desc['%unique'] = desc['nunique'] / len(train) * 100
desc['null'] = train.isnull().sum()
desc['type'] = train.dtypes
desc = pd.concat([desc, train.describe().T.drop('count', axis = 1)], axis = 1)
desc

,count,nunique,%unique,null,type,mean,std,min,25%,50%,75%,max
Pos,61,61,100.000000,0,int64,31.000000,17.752934,1.0,16.0,31.0,46.0,61.0
Team,61,61,100.000000,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seasons,61,33,54.098361,0,int64,24.000000,26.827225,1.0,4.0,12.0,38.0,86.0
Points,61,61,100.000000,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GamesPlayed,61,53,86.885246,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GamesWon,61,59,96.721311,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GamesDrawn,61,57,93.442623,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GamesLost,61,56,91.803279,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GoalsFor,61,60,98.360656,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GoalsAgainst,61,61,100.000000,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Champion,61,8,13.114754,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Runner-up,61,10,16.393443,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Third,61,9,14.754098,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fourth,61,9,14.754098,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fifth,61,9,14.754098,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sixth,61,9,14.754098,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debut,61,45,73.770492,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BestPosition,61,18,29.508197,0,int64,7.081967,5.276663,1.0,3.0,6.0,10.0,20.0

In [ ]:
# How to access the above data frame?
# is it stored in a variable?
# if above df is not stored in a variable yet, how did you print it?

In [175]:
dict_

{'Name': ['Name 1', 'Name 2', 'Name 3'],
 'Department': ['IT', 'HR', 'DA'],
 'Salary': [100, 200, 300]}

In [38]:
df = pd.read_csv('Laliga_scores.csv')

In [39]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [8]:
# creating a df from a np array  

df = pd.DataFrame(np.random.rand(5,5), index = ['first row', 'second row', 'third row', 'fourth row', 'fifth row'], 
            columns = ['first column', 'second column','third column','fourth column','fifth column'])

df

,first column,second column,third column,fourth column,fifth column
first row,0.960130,0.892463,0.649858,0.522865,0.761610
second row,0.726527,0.442849,0.012610,0.396169,0.455255
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993
fifth row,0.624962,0.606561,0.719833,0.397481,0.098170

In [7]:
# SELECT * FROM Table
# SELECT First_column, third_Column, fourth_column FROM Table

# How many columns for above query? - 3
# How many rows? - same as raw df

In [10]:
df[['first column', 'third column', 'fourth column']]

            first column  third column  fourth column
first row       0.960130      0.649858       0.522865
second row      0.726527      0.012610       0.396169
third row       0.199040      0.114359       0.745706
fourth row      0.568868      0.015794       0.100226
fifth row       0.624962      0.719833       0.397481

In [11]:
# df has got 200 columns

In [12]:
df

,first column,second column,third column,fourth column,fifth column
first row,0.960130,0.892463,0.649858,0.522865,0.761610
second row,0.726527,0.442849,0.012610,0.396169,0.455255
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993
fifth row,0.624962,0.606561,0.719833,0.397481,0.098170

In [14]:
# Print all column names of the dataframe at once?

df.columns

Index(['first column', 'second column', 'third column', 'fourth column',
       'fifth column'],
      dtype='object')

In [15]:
df.index

Index(['first row', 'second row', 'third row', 'fourth row', 'fifth row'], dtype='object')

In [16]:
# Slicing
# .loc method
# print value from 2nd, 4th rows and 3rd, 1st columns

In [17]:
# .loc

In [19]:
# Label based indexing

# indexing - single element / single position

# slicing - values from multiple indices of rows and columns

In [24]:
df.loc[['second row', 'fourth row']]

,first column,second column,third column,fourth column,fifth column
second row,0.726527,0.442849,0.012610,0.396169,0.455255
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993

In [27]:
df.loc[['second row', 'fourth row'], :]

,first column,second column,third column,fourth column,fifth column
second row,0.726527,0.442849,0.012610,0.396169,0.455255
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993

In [29]:
df.loc[['second row', 'fourth row'], ['third column', 'first column']]

            third column  first column
second row      0.012610      0.726527
fourth row      0.015794      0.568868

In [55]:
# Replicate above using .iloc

df.iloc[[1,3],[2,0]]

            third column  first column
second row      0.012610      0.726527
fourth row      0.015794      0.568868

In [30]:
# info of rows, info of columns
df

,first column,second column,third column,fourth column,fifth column
first row,0.960130,0.892463,0.649858,0.522865,0.761610
second row,0.726527,0.442849,0.012610,0.396169,0.455255
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993
fifth row,0.624962,0.606561,0.719833,0.397481,0.098170

In [34]:
# Print all rows starting from second row using loc

df.loc['second row': , :]

,first column,second column,third column,fourth column,fifth column
second row,0.726527,0.442849,0.012610,0.396169,0.455255
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993
fifth row,0.624962,0.606561,0.719833,0.397481,0.098170

In [38]:
# All values from 3rd row and second column
# select all rows starting from third and select all column starting from second

df.loc['third row': , 'second column': ]

            second column  third column  fourth column  fifth column
third row        0.541262      0.114359       0.745706      0.679075
fourth row       0.244847      0.015794       0.100226      0.466993
fifth row        0.606561      0.719833       0.397481      0.098170

In [54]:
# Replicate above using .iloc

df.iloc[2:, 1:]

            second column  third column  fourth column  fifth column
third row        0.541262      0.114359       0.745706      0.679075
fourth row       0.244847      0.015794       0.100226      0.466993
fifth row        0.606561      0.719833       0.397481      0.098170

In [39]:
df.loc['third row': 'fourth row' , 'second column': ]

            second column  third column  fourth column  fifth column
third row        0.541262      0.114359       0.745706      0.679075
fourth row       0.244847      0.015794       0.100226      0.466993

In [53]:
# Replicate above using .iloc

df.iloc[[2,3], 1:]

            second column  third column  fourth column  fifth column
third row        0.541262      0.114359       0.745706      0.679075
fourth row       0.244847      0.015794       0.100226      0.466993

In [40]:
# Print value of cell at 2nd row and 2nd column

df.loc['second row', 'second column']

0.4428491137095609

In [44]:
# Replicate above using .iloc

df.iloc[1,1]

0.4428491137095609

In [41]:
# .loc 
# scalar value - from a single cell - by specifying single row and single column labels
# specific rows and columns selection
# Start from a specific row or a column and go till end or end of our choice

In [26]:
df[['first column', 'third column', 'fourth column']]

            first column  third column  fourth column
first row       0.960130      0.649858       0.522865
second row      0.726527      0.012610       0.396169
third row       0.199040      0.114359       0.745706
fourth row      0.568868      0.015794       0.100226
fifth row       0.624962      0.719833       0.397481

In [42]:
# replicate the above using .iloc

df.iloc[:,[0,2,3]]

            first column  third column  fourth column
first row       0.960130      0.649858       0.522865
second row      0.726527      0.012610       0.396169
third row       0.199040      0.114359       0.745706
fourth row      0.568868      0.015794       0.100226
fifth row       0.624962      0.719833       0.397481

In [43]:
df.iloc[[0,2,3]]

,first column,second column,third column,fourth column,fifth column
first row,0.960130,0.892463,0.649858,0.522865,0.761610
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993

In [25]:
df

,first column,second column,third column,fourth column,fifth column
first row,0.960130,0.892463,0.649858,0.522865,0.761610
second row,0.726527,0.442849,0.012610,0.396169,0.455255
third row,0.199040,0.541262,0.114359,0.745706,0.679075
fourth row,0.568868,0.244847,0.015794,0.100226,0.466993
fifth row,0.624962,0.606561,0.719833,0.397481,0.098170

In [ ]:
# .iloc
# integer based indexing

In [ ]:
# loc - label names of both rows and columns

# iloc - index - 0, 1,2,3,....
# Locate an element of a 2D array - what is the location of its row and column 
# (selection of rows, selection of columns)
# What if no comma and second parameter is provided?
# Indices of rows and columns

In [56]:
# cell
# selection of rows and column

In [61]:
df = pd.DataFrame(np.random.randn(5,5), index = ['first row', 'second row', 'third row', 'fourth row', 'fifth row'], 
            columns = ['first column', 'second column','third column','fourth column','fifth column'])
df

,first column,second column,third column,fourth column,fifth column
first row,-0.177783,0.917233,-0.104137,2.757717,0.534546
second row,-0.297066,-0.074299,-1.239740,1.806216,1.152877
third row,-0.329764,-0.647909,-1.796986,0.146003,-0.431076
fourth row,2.236555,1.030668,1.302797,-0.985683,-1.203684
fifth row,1.002548,0.568909,1.402575,1.100731,-1.414170

In [63]:
df > 0

,first column,second column,third column,fourth column,fifth column
first row,False,True,False,True,True
second row,False,False,False,True,True
third row,False,False,False,True,False
fourth row,True,True,True,False,False
fifth row,True,True,True,True,False

In [64]:
df[df > 0]

,first column,second column,third column,fourth column,fifth column
first row,NaN,0.917233,NaN,2.757717,0.534546
second row,NaN,NaN,NaN,1.806216,1.152877
third row,NaN,NaN,NaN,0.146003,NaN
fourth row,2.236555,1.030668,1.302797,NaN,NaN
fifth row,1.002548,0.568909,1.402575,1.100731,NaN

In [65]:
# NaN - not a number
# np and math libraries

In [70]:
# add in a new column to df
lis = ['Yet', 'Another','Column',np.NaN, np.NaN]

In [72]:
df['sixth column'] = lis

df

,first column,second column,third column,fourth column,fifth column,sixth column
first row,-0.177783,0.917233,-0.104137,2.757717,0.534546,Yet
second row,-0.297066,-0.074299,-1.239740,1.806216,1.152877,Another
third row,-0.329764,-0.647909,-1.796986,0.146003,-0.431076,Column
fourth row,2.236555,1.030668,1.302797,-0.985683,-1.203684,NaN
fifth row,1.002548,0.568909,1.402575,1.100731,-1.414170,NaN

In [73]:
df.index # row labels

Index(['first row', 'second row', 'third row', 'fourth row', 'fifth row'], dtype='object')

In [88]:
df['seventh column'] = np.random.randn(5,1)

df

,first column,second column,third column,fourth column,fifth column,sixth column,seventh column
first row,-0.177783,0.917233,-0.104137,2.757717,0.534546,Yet,0.779463
second row,-0.297066,-0.074299,-1.239740,1.806216,1.152877,Another,-1.529783
third row,-0.329764,-0.647909,-1.796986,0.146003,-0.431076,Column,-0.288204
fourth row,2.236555,1.030668,1.302797,-0.985683,-1.203684,NaN,-0.230882
fifth row,1.002548,0.568909,1.402575,1.100731,-1.414170,NaN,0.184953

In [74]:
np.random.randn(5,1)

array([[ 0.3882325 ],
       [-0.97544013],
       [-0.929106  ],
       [-0.14593411],
       [ 0.44628736]])

In [94]:
df['seventh column'] = np.random.randn(1,5).reshape(-1) # -1 reshapes a given np array of any dimension to 1S

df

,first column,second column,third column,fourth column,fifth column,sixth column,seventh column
first row,-0.177783,0.917233,-0.104137,2.757717,0.534546,Yet,0.075569
second row,-0.297066,-0.074299,-1.239740,1.806216,1.152877,Another,0.648588
third row,-0.329764,-0.647909,-1.796986,0.146003,-0.431076,Column,0.197270
fourth row,2.236555,1.030668,1.302797,-0.985683,-1.203684,NaN,0.614156
fifth row,1.002548,0.568909,1.402575,1.100731,-1.414170,NaN,-1.069556

In [90]:
np.random.randn(1,5)

array([[-0.56048963, -1.15210063,  0.93814868, -0.76817297,  0.63019251]])

In [91]:
np.random.randn(5,1)

array([[ 1.17593027],
       [ 0.58737797],
       [ 0.64364892],
       [-0.40616778],
       [-2.67036442]])

In [96]:
df = pd.read_csv('Laliga_scores.csv')

df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [98]:
# Print the first 5 rows of df

df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1

In [99]:
df.head(3)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1

In [100]:
df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,1932-33,1

In [101]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [102]:
# Print the bottom 5 rows of df

df.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [104]:
df.tail(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [105]:
df.tail(15)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [109]:
# Identify the data types of all the columns of df

df.dtypes

Pos              int64
Team            object
Seasons          int64
Points          object
GamesPlayed     object
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [107]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Debut',
       'BestPosition'],
      dtype='object')

In [110]:
pd.DataFrame(df.dtypes)

                   0
Pos            int64
Team          object
Seasons        int64
Points        object
GamesPlayed   object
GamesWon      object
GamesDrawn    object
GamesLost     object
GoalsFor      object
GoalsAgainst  object
Champion      object
Runner-up     object
Third         object
Fourth        object
Fifth         object
Sixth         object
Debut         object
BestPosition   int64

In [111]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points          object
GamesPlayed     object
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [112]:
type(df.dtypes)

pandas.core.series.Series

In [113]:
# pd Series - 1D - 1 Column and multiple rows

In [114]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [116]:
# Check the entire dataframe for hyphens and replace them with a 0
# =SUBSTITUTE in google sheets? 
# data, substring looking for, replacement sub string
df.replace('-', 0)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [117]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [ ]:
df = df.replace('-', 0)

In [118]:
df.replace('-',0, inplace = True)

In [119]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [120]:
pd.set_option('display.max_rows', 1000)

In [121]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [122]:
len(df)

61

In [123]:
pd.set_option('display.max_rows', 61)

In [124]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [132]:
pd.set_option('display.max_rows', 70)

In [133]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [134]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points          object
GamesPlayed     object
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [137]:
# Change dtype of GamesPlayed to int

type(df['GamesPlayed'])

pandas.core.series.Series

In [138]:
df['GamesPlayed']

0     2762
1     2762
2     2614
3     2664
4     2762
5     2408
6     2626
7     2302
8     1986
9     1728
10    1530
11    1698
12    1466
13    1428
14    1458
15    1318
16    1255
17    1192
18     988
19    1096
20     646
21     742
22     652
23     678
24     456
25     628
26     494
27     586
28     380
29     402
30     423
31     426
32     448
33     346
34     334
35     270
36     228
37     282
38     160
39     186
40     204
41     180
42     152
43     114
44     130
45     114
46     116
47      80
48      80
49     108
50      90
51      72
52      68
53      54
54      68
55      38
56      38
57      30
58      30
59      30
60       0
Name: GamesPlayed, dtype: object

In [139]:
df['GamesPlayed'].astype(int)

0     2762
1     2762
2     2614
3     2664
4     2762
5     2408
6     2626
7     2302
8     1986
9     1728
10    1530
11    1698
12    1466
13    1428
14    1458
15    1318
16    1255
17    1192
18     988
19    1096
20     646
21     742
22     652
23     678
24     456
25     628
26     494
27     586
28     380
29     402
30     423
31     426
32     448
33     346
34     334
35     270
36     228
37     282
38     160
39     186
40     204
41     180
42     152
43     114
44     130
45     114
46     116
47      80
48      80
49     108
50      90
51      72
52      68
53      54
54      68
55      38
56      38
57      30
58      30
59      30
60       0
Name: GamesPlayed, dtype: int32

In [140]:
df['GamesPlayed'] = df['GamesPlayed'].astype(int)

In [141]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points          object
GamesPlayed      int32
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [144]:
type(pd.to_numeric(df['GamesWon']))

pandas.core.series.Series

In [149]:
df['GamesWon'] = pd.to_numeric(df['GamesWon'], errors = 'ignore')

In [148]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points          object
GamesPlayed      int32
GamesWon         int64
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [151]:
df.GamesWon

0     1647
1     1581
2     1241
3     1187
4     1209
5      990
6      948
7      864
8      698
9      606
10     563
11     586
12     463
13     453
14     471
15     426
16     390
17     408
18     333
19     367
20     266
21     218
22     189
23     203
24     147
25     184
26     155
27     145
28     125
29     113
30     123
31     129
32     104
33      96
34     103
35      76
36      62
37      82
38      52
39      50
40      59
41      53
42      37
43      35
44      43
45      26
46      34
47      20
48      19
49      30
50      29
51      21
52      17
53      18
54      13
55       8
56       8
57       7
58       7
59       5
60       0
Name: GamesWon, dtype: int64

In [156]:
# Convert dtype of df columns to int?

for i in df.columns:
    df[i] = pd.to_numeric(df[i], errors = 'ignore')

In [157]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Debut',
       'BestPosition'],
      dtype='object')

In [158]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points           int64
GamesPlayed      int32
GamesWon         int64
GamesDrawn       int64
GamesLost        int64
GoalsFor         int64
GoalsAgainst     int64
Champion         int64
Runner-up        int64
Third            int64
Fourth           int64
Fifth            int64
Sixth            int64
Debut           object
BestPosition     int64
dtype: object

In [159]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [160]:
# Print Team and Debut columns

df[['Team', 'Debut']]

                   Team    Debut
0           Real Madrid     1929
1             Barcelona     1929
2       Atletico Madrid     1929
3              Valencia  1931-32
4       Athletic Bilbao     1929
5               Sevilla  1934-35
6              Espanyol     1929
7         Real Sociedad     1929
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
13     Racing Santander     1929
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
20           Villarreal  1998-99
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
24               Getafe  2004-05
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
33             Logrones  1987-88
34            Castellon  1941-42
35             Albacete  1991-92
36              Almeria  2007-08
37              Cordoba  1962-63
38           Compostela  1994-95
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
42             Numancia  1999-00
43                Eibar  2014-15
44               Arenas     1929
45          Real Burgos  1990-91
46            Gimnastic  1947-48
47          Extremadura  1996-97
48               Merida  1995-96
49             Alcoyano  1945-46
50                 Jaen  1953-54
51           Real Union     1929
52           AD Almeria  1979-80
53               Europa     1929
54               Lleida  1950-51
55              Leganes  2016-17
56                Xerez  2009-10
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56
60               Girona  2017-18

In [165]:
# Print all teams names that debuted between 1930 and 1940 both inclusive

df.Debut = df.Debut.str[0:4].astype(int)

In [166]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9

In [167]:
df.dtypes

Pos              int64
Team            object
Seasons          int64
Points           int64
GamesPlayed      int32
GamesWon         int64
GamesDrawn       int64
GamesLost        int64
GoalsFor         int64
GoalsAgainst     int64
Champion         int64
Runner-up        int64
Third            int64
Fourth           int64
Fifth            int64
Sixth            int64
Debut            int32
BestPosition     int64
dtype: object

In [172]:
df[(df.Debut >= 1930) & (df.Debut <= 1940)][['Team', 'Debut']]

          Team  Debut
3     Valencia   1931
5      Sevilla   1934
8     Zaragoza   1939
9   Real Betis   1932
11  Celta Vigo   1939
15     Osasuna   1935
17      Oviedo   1933
25    Hercules   1935
27      Murcia   1940
28      Alaves   1930

In [176]:
# Recall what we did in last class?

In [177]:
# Got started with dataframes
# Creation
# row and column labels
# loc and iloc and slicing
# filtering data using conditions

In [178]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9

In [179]:
df = pd.read_csv('Laliga_scores.csv')

In [180]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,1929,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,1939-40,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,1932-33,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,1941-42,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,1939-40,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,1948-49,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,1929,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,1944-45,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,1935-36,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,1949-50,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,1933-34,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,1960-61,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,1951-52,2
20,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,1998-99,2
21,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,1941-42,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,1977-78,8
23,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,1959-60,5
24,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,2004-05,6
25,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,1935-36,5
26,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,1961-62,5
27,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,1940-41,11
28,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1930-31,6
29,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1963-64,6
30,31,Salamanca,12,375,423,123,102,198,422,581,-,-,-,-,-,-,1974-75,7
31,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,1943-44,4
32,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,1977-78,12
33,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,1987-88,7
34,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,1941-42,4
35,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,1991-92,7
36,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,2007-08,8
37,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1962-63,5
38,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,1994-95,10
39,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,1978-79,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,1971-72,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,1963-64,7
42,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,1999-00,17
43,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,1929,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,1990-91,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,1947-48,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,1996-97,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,1995-96,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,1945-46,10
50,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,1953-54,14
51,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1929,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,1979-80,10
53,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,1929,8
54,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,1950-51,16
55,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [183]:
df = pd.read_csv('Laliga_scores.csv', index_col = 'Pos' )

df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,1939-40,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,1932-33,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,1941-42,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,1939-40,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,1948-49,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,1944-45,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,1935-36,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,1949-50,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,1933-34,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,1960-61,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,1951-52,2
21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,1998-99,2
22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,1941-42,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,1977-78,8
24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,1959-60,5
25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,2004-05,6
26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,1935-36,5
27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,1961-62,5
28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,1940-41,11
29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1930-31,6
30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1963-64,6
31,Salamanca,12,375,423,123,102,198,422,581,-,-,-,-,-,-,1974-75,7
32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,1943-44,4
33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,1977-78,12
34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,1987-88,7
35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,1941-42,4
36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,1991-92,7
37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,2007-08,8
38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1962-63,5
39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,1994-95,10
40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,1978-79,8
41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,1971-72,12
42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,1963-64,7
43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,1999-00,17
44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,1990-91,9
47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,1947-48,7
48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,1996-97,17
49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,1995-96,19
50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,1945-46,10
51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,1953-54,14
52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,1979-80,10
54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,1929,8
55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,1950-51,16
56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,1955-56,15
61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,9

In [186]:
df.replace('-', 0, inplace = True)

In [187]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [188]:
df.dtypes

Team            object
Seasons          int64
Points          object
GamesPlayed     object
GamesWon        object
GamesDrawn      object
GamesLost       object
GoalsFor        object
GoalsAgainst    object
Champion        object
Runner-up       object
Third           object
Fourth          object
Fifth           object
Sixth           object
Debut           object
BestPosition     int64
dtype: object

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 1 to 61
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          61 non-null     object
 1   Seasons       61 non-null     int64
 2   Points        61 non-null     object
 3   GamesPlayed   61 non-null     object
 4   GamesWon      61 non-null     object
 5   GamesDrawn    61 non-null     object
 6   GamesLost     61 non-null     object
 7   GoalsFor      61 non-null     object
 8   GoalsAgainst  61 non-null     object
 9   Champion      61 non-null     object
 10  Runner-up     61 non-null     object
 11  Third         61 non-null     object
 12  Fourth        61 non-null     object
 13  Fifth         61 non-null     object
 14  Sixth         61 non-null     object
 15  Debut         61 non-null     object
 16  BestPosition  61 non-null     int64
dtypes: int64(2), object(15)
memory usage: 8.6+ KB

In [190]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [191]:
for i in df.columns:
    df[i] = pd.to_numeric(df[i], errors = 'ignore')

In [192]:
df.dtypes

Team            object
Seasons          int64
Points           int64
GamesPlayed      int64
GamesWon         int64
GamesDrawn       int64
GamesLost        int64
GoalsFor         int64
GoalsAgainst     int64
Champion         int64
Runner-up        int64
Third            int64
Fourth           int64
Fifth            int64
Sixth            int64
Debut           object
BestPosition     int64
dtype: object

In [193]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [ ]:
10
1,0
1-0

In [196]:
df.Debut.str[0:4].astype(int)

Pos
1     1929
2     1929
3     1929
4     1931
5     1929
6     1934
7     1929
8     1929
9     1939
10    1932
11    1941
12    1939
13    1948
14    1929
15    1944
16    1935
17    1949
18    1933
19    1960
20    1951
21    1998
22    1941
23    1977
24    1959
25    2004
26    1935
27    1961
28    1940
29    1930
30    1963
31    1974
32    1943
33    1977
34    1987
35    1941
36    1991
37    2007
38    1962
39    1994
40    1978
41    1971
42    1963
43    1999
44    2014
45    1929
46    1990
47    1947
48    1996
49    1995
50    1945
51    1953
52    1929
53    1979
54    1929
55    1950
56    2016
57    2009
58    1956
59    1951
60    1955
61    2017
Name: Debut, dtype: int32

In [197]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931-32,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934-35,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939-40,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932-33,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941-42,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939-40,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948-49,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944-45,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935-36,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949-50,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933-34,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960-61,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951-52,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998-99,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941-42,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977-78,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959-60,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004-05,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935-36,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961-62,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940-41,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930-31,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963-64,6
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974-75,7
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943-44,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977-78,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987-88,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941-42,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991-92,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007-08,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962-63,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994-95,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978-79,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971-72,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963-64,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999-00,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990-91,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947-48,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996-97,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995-96,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945-46,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953-54,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979-80,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950-51,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955-56,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,9

In [198]:
df.Debut.str[0:4].astype(int)

Pos
1     1929
2     1929
3     1929
4     1931
5     1929
6     1934
7     1929
8     1929
9     1939
10    1932
11    1941
12    1939
13    1948
14    1929
15    1944
16    1935
17    1949
18    1933
19    1960
20    1951
21    1998
22    1941
23    1977
24    1959
25    2004
26    1935
27    1961
28    1940
29    1930
30    1963
31    1974
32    1943
33    1977
34    1987
35    1941
36    1991
37    2007
38    1962
39    1994
40    1978
41    1971
42    1963
43    1999
44    2014
45    1929
46    1990
47    1947
48    1996
49    1995
50    1945
51    1953
52    1929
53    1979
54    1929
55    1950
56    2016
57    2009
58    1956
59    1951
60    1955
61    2017
Name: Debut, dtype: int32

In [199]:
df['Debut'] = df.Debut.str[0:4].astype(int)

In [200]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Pos,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9

In [201]:
df.dtypes

Team            object
Seasons          int64
Points           int64
GamesPlayed      int64
GamesWon         int64
GamesDrawn       int64
GamesLost        int64
GoalsFor         int64
GoalsAgainst     int64
Champion         int64
Runner-up        int64
Third            int64
Fourth           int64
Fifth            int64
Sixth            int64
Debut            int32
BestPosition     int64
dtype: object

In [202]:
# Teams who debuted between 1930 and 1940 both inclusive

In [203]:
df['Debut'] >= 1930

Pos
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14    False
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45    False
46     True
47     True
48     True
49     True
50     True
51     True
52    False
53     True
54    False
55     True
56     True
57     True
58     True
59     True
60     True
61     True
Name: Debut, dtype: bool

In [204]:
df['Debut'] <= 1940

Pos
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11    False
12     True
13    False
14     True
15    False
16     True
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28     True
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52     True
53    False
54     True
55    False
56    False
57    False
58    False
59    False
60    False
61    False
Name: Debut, dtype: bool

In [205]:
(df['Debut'] >= 1930) & (df['Debut'] <= 1940)

Pos
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9      True
10     True
11    False
12     True
13    False
14    False
15    False
16     True
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28     True
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
Name: Debut, dtype: bool

In [207]:
df[(df['Debut'] >= 1930) & (df['Debut'] <= 1940)][['Team', 'Debut']]

           Team  Debut
Pos
4      Valencia   1931
6       Sevilla   1934
9      Zaragoza   1939
10   Real Betis   1932
12   Celta Vigo   1939
16      Osasuna   1935
18       Oviedo   1933
26     Hercules   1935
28       Murcia   1940
29       Alaves   1930

In [208]:
df[['Team', 'Debut']][(df['Debut'] >= 1930) & (df['Debut'] <= 1940)]

           Team  Debut
Pos
4      Valencia   1931
6       Sevilla   1934
9      Zaragoza   1939
10   Real Betis   1932
12   Celta Vigo   1939
16      Osasuna   1935
18       Oviedo   1933
26     Hercules   1935
28       Murcia   1940
29       Alaves   1930

In [209]:
# Assign teams to a particular group
# What question would you ask before you start assigning the teams to different groups?
# Basis first letter of each team's name
# can there be repeats? - you can have team names that start with same letter

In [210]:
df[['Team']]

                    Team
Pos
1            Real Madrid
2              Barcelona
3        Atletico Madrid
4               Valencia
5        Athletic Bilbao
6                Sevilla
7               Espanyol
8          Real Sociedad
9               Zaragoza
10            Real Betis
11   Deportivo La Coruna
12            Celta Vigo
13            Valladolid
14      Racing Santander
15        Sporting Gijon
16               Osasuna
17                Malaga
18                Oviedo
19              Mallorca
20            Las Palmas
21            Villarreal
22               Granada
23        Rayo Vallecano
24                 Elche
25                Getafe
26              Hercules
27              Tenerife
28                Murcia
29                Alaves
30               Levante
31             Salamanca
32              Sabadell
33                 Cadiz
34              Logrones
35             Castellon
36              Albacete
37               Almeria
38               Cordoba
39            Compostela
40            Recreativo
41             Burgos CF
42            Pontevedra
43              Numancia
44                 Eibar
45                Arenas
46           Real Burgos
47             Gimnastic
48           Extremadura
49                Merida
50              Alcoyano
51                  Jaen
52            Real Union
53            AD Almeria
54                Europa
55                Lleida
56               Leganes
57                 Xerez
58                Condal
59       Atletico Tetuan
60      Cultural Leonesa
61                Girona

In [ ]:
# Current situation:
# No info of groups
# each row is independent of the other


# Group by
# already know which data point belongs to which group

In [211]:
# How to extract first letter out of each team's name?

In [213]:
df['Team'].str[0]

Pos
1     R
2     B
3     A
4     V
5     A
6     S
7     E
8     R
9     Z
10    R
11    D
12    C
13    V
14    R
15    S
16    O
17    M
18    O
19    M
20    L
21    V
22    G
23    R
24    E
25    G
26    H
27    T
28    M
29    A
30    L
31    S
32    S
33    C
34    L
35    C
36    A
37    A
38    C
39    C
40    R
41    B
42    P
43    N
44    E
45    A
46    R
47    G
48    E
49    M
50    A
51    J
52    R
53    A
54    E
55    L
56    L
57    X
58    C
59    A
60    C
61    G
Name: Team, dtype: object

In [214]:
# Create a new column and assign values from the above series

In [215]:
df['Team group'] = df['Team'].str[0]

In [216]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G

In [218]:
# sum, min, max, avg, count

In [224]:
df['Team group'].value_counts()

A    9
R    8
C    7
E    5
L    5
M    4
S    4
G    4
V    3
O    2
B    2
D    1
Z    1
H    1
T    1
P    1
N    1
J    1
X    1
Name: Team group, dtype: int64

In [225]:
pd.DataFrame(df['Team group'].value_counts())

   Team group
A           9
R           8
C           7
E           5
L           5
M           4
S           4
G           4
V           3
O           2
B           2
D           1
Z           1
H           1
T           1
P           1
N           1
J           1
X           1

In [230]:
df.groupby('Team group').count()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Team group,,,,,,,,,,,,,,,,,
A,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
B,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
C,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
D,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
E,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
G,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
H,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
J,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
L,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
M,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
N,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
O,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
P,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
R,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
S,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
T,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
V,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
X,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Z,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [231]:
df.groupby('Team group').count()[['Team']]

            Team
Team group
A              9
B              2
C              7
D              1
E              5
G              4
H              1
J              1
L              5
M              4
N              1
O              2
P              1
R              8
S              4
T              1
V              3
X              1
Z              1

In [232]:
# group by team and team group
# Calculate mean for all other columns

In [234]:
# 1 Column was specified in groupby previously -> .groupby('col name')
# how to mention multiple columns in groupby function?

df.groupby(['Team group', 'Team']).mean()

                                Seasons  Points  GamesPlayed  GamesWon  \
Team group Team
A          AD Almeria               2.0    52.0         68.0      17.0
           Alaves                  12.0   421.0        380.0     125.0
           Albacete                 7.0   277.0        270.0      76.0
           Alcoyano                 4.0    76.0        108.0      30.0
           Almeria                  6.0   242.0        228.0      62.0
           Arenas                   7.0   107.0        130.0      43.0
           Athletic Bilbao         86.0  3368.0       2762.0    1209.0
           Atletico Madrid         80.0  3442.0       2614.0    1241.0
           Atletico Tetuan          1.0    19.0         30.0       7.0
B          Barcelona               86.0  4262.0       2762.0    1581.0
           Burgos CF                6.0   168.0        204.0      59.0
C          Cadiz                   12.0   343.0        448.0     104.0
           Castellon               11.0   285.0        334.0     103.0
           Celta Vigo              51.0  1789.0       1698.0     586.0
           Compostela               4.0   190.0        160.0      52.0
           Condal                   1.0    22.0         30.0       7.0
           Cordoba                  9.0   230.0        282.0      82.0
           Cultural Leonesa         1.0    14.0         30.0       5.0
D          Deportivo La Coruna     45.0  1814.0       1530.0     563.0
E          Eibar                    3.0   132.0        114.0      35.0
           Elche                   21.0   606.0        678.0     203.0
           Espanyol                82.0  2792.0       2626.0     948.0
           Europa                   3.0    42.0         54.0      18.0
           Extremadura              2.0    83.0         80.0      20.0
G          Getafe                  12.0   553.0        456.0     147.0
           Gimnastic                4.0    91.0        116.0      34.0
           Girona                   1.0     0.0          0.0       0.0
           Granada                 23.0   667.0        742.0     218.0
H          Hercules                20.0   538.0        628.0     184.0
J          Jaen                     3.0    71.0         90.0      29.0
L          Las Palmas              33.0  1020.0       1096.0     367.0
           Leganes                  1.0    35.0         38.0       8.0
           Levante                 11.0   416.0        402.0     113.0
           Lleida                   2.0    40.0         68.0      13.0
           Logrones                 9.0   293.0        346.0      96.0
M          Malaga                  36.0  1314.0       1255.0     390.0
           Mallorca                27.0  1148.0        988.0     333.0
           Merida                   2.0    81.0         80.0      19.0
           Murcia                  18.0   445.0        586.0     145.0
N          Numancia                 4.0   148.0        152.0      37.0
O          Osasuna                 37.0  1351.0       1318.0     426.0
           Oviedo                  38.0  1174.0       1192.0     408.0
P          Pontevedra               6.0   150.0        180.0      53.0
R          Racing Santander        44.0  1416.0       1428.0     453.0
           Rayo Vallecano          17.0   662.0        652.0     189.0
           Real Betis              51.0  1884.0       1728.0     606.0
           Real Burgos              3.0    96.0        114.0      26.0
           Real Madrid             86.0  4385.0       2762.0    1647.0
           Real Sociedad           70.0  2573.0       2302.0     864.0
           Real Union               4.0    56.0         72.0      21.0
           Recreativo               5.0   188.0        186.0      50.0
S          Sabadell                14.0   353.0        426.0     129.0
           Salamanca               12.0   375.0        423.0     123.0
           Sevilla                 73.0  2819.0       2408.0     990.0
           Sporting Gijon          43.0  1389.0       1458.0     471.0
T          Tenerife                13.0   510.0        494.0     155.0
V          Valencia                82.0  3386.0       2664.0    1187.0
           Valladolid              42.0  1471.0       1466.0     463.0
           Villarreal              17.0   970.0        646.0     266.0
X          Xerez                    1.0    34.0         38.0       8.0
Z          Zaragoza                58.0  2109.0       1986.0     698.0

                                GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  \
Team group Team
A          AD Almeria                 18.0       33.0      71.0         116.0
           Alaves                     81.0      174.0     458.0         623.0
           Albacete                   76.0      118.0     320.0         410.0
           Alcoyano                   16.0       62.0     145.0         252.0
           Almeria                    56.0      110.0     244.0         366.0
           Arenas                     21.0       66.0     227.0         308.0
           Athletic Bilbao           633.0      920.0    4631.0        3700.0
           Atletico Madrid           598.0      775.0    4534.0        3309.0
           Atletico Tetuan             5.0       18.0      51.0          85.0
B          Barcelona                 573.0      608.0    5900.0        3114.0
           Burgos CF                  50.0       95.0     216.0         310.0
C          Cadiz                     127.0      217.0     393.0         662.0
           Castellon                  79.0      152.0     419.0         588.0
           Celta Vigo                389.0      723.0    2278.0        2624.0
           Compostela                 45.0       63.0     199.0         241.0
           Condal                      8.0       15.0      37.0          57.0
           Cordoba                    63.0      137.0     285.0         430.0
           Cultural Leonesa            4.0       21.0      34.0          65.0
D          Deportivo La Coruna       392.0      575.0    2052.0        2188.0
E          Eibar                      27.0       52.0     139.0         167.0
           Elche                     180.0      295.0     750.0        1022.0
           Espanyol                  608.0     1070.0    3609.0        3889.0
           Europa                      6.0       30.0      97.0         131.0
           Extremadura                23.0       37.0      62.0         117.0
G          Getafe                    112.0      197.0     520.0         633.0
           Gimnastic                  16.0       66.0     181.0         295.0
           Girona                      0.0        0.0       0.0           0.0
           Granada                   175.0      349.0     819.0        1157.0
H          Hercules                  149.0      295.0     716.0        1050.0
J          Jaen                       13.0       48.0     121.0         183.0
L          Las Palmas                242.0      487.0    1347.0        1746.0
           Leganes                    11.0       19.0      36.0          55.0
           Levante                    95.0      194.0     430.0         632.0
           Lleida                     14.0       41.0      70.0         182.0
           Logrones                   92.0      158.0     291.0         489.0
M          Malaga                    330.0      535.0    1421.0        1763.0
           Mallorca                  256.0      399.0    1182.0        1371.0
           Merida                     24.0       37.0      70.0         115.0
           Murcia                    143.0      298.0     607.0         992.0
N          Numancia                   37.0       78.0     155.0         253.0
O          Osasuna                   327.0      565.0    1500.0        1834.0
           Oviedo                    292.0      492.0    1642.0        1951.0
P          Pontevedra                 44.0       83.0     165.0         221.0
R          Racing Santander          336.0      639.0    1843.0        2368.0
           Rayo Vallecano            148.0      305.0     760.0        1088.0
           Real Betis                440.0      682.0    2159.0        2492.0
           Real Burgos                44.0       44.0     101.0         139.0
           Real Madrid               552.0      563.0    5947.0        3140.0
           Real Sociedad             577.0      861.0    3228.0        3230.0
           Real Union                 14.0       37.0     153.0         184.0
           Recreativo                 46.0       90.0     202.0         296.0
S          Sabadell                   95.0      202.0     492.0         720.0
           Salamanca                 102.0      198.0     422.0         581.0
           Sevilla                   531.0      887.0    3680.0        3373.0
           Sporting Gijon            358.0      629.0    1753.0        2152.0
T          Tenerife                  128.0      211.0     619.0         744.0
V          Valencia                  616.0      861.0    4398.0        3469.0
           Valladolid                384.0      619.0    1767.0        2180.0
           Villarreal                172.0      208.0     892.0         789.0
X          Xerez                      10.0       20.0      38.0          66.0
Z          Zaragoza                  522.0      766.0    2683.0        2847.0

                                Champion  Runner-up  Third  Fourth  Fifth  \
Team group Team
A          AD Almeria                0.0        0.0    0.0     0.0    0.0
           Alaves                    0.0        0.0    0.0     0.0    0.0
           Albacete                  0.0        0.0    0.0     0.0    0.0
           Alcoyano                  0.0        0.0    0.0     0.0    0.0
           Almeria                   0.0        0.0    0.0     0.0    0.0
           Arenas                    0.0        0.0    1.0     0.0    3.0
           Athletic Bilbao           8.0        7.0   10.0     5.0    8.0
           Atletico Madrid          10.0        8.0   16.0     9.0    7.0
           Atletico Tetuan           0.0        0.0    0.0     0.0    0.0
B          Barcelona                25.0       25.0   12.0    12.0    4.0
           Burgos CF                 0.0        0.0    0.0     0.0    0.0
C          Cadiz                     0.0        0.0    0.0     0.0    0.0
           Castellon                 0.0        0.0    0.0     1.0    2.0
           Celta Vigo                0.0        0.0    0.0     2.0    4.0
           Compostela                0.0        0.0    0.0     0.0    0.0
           Condal                    0.0        0.0    0.0     0.0    0.0
           Cordoba                   0.0        0.0    0.0     0.0    1.0
           Cultural Leonesa          0.0        0.0    0.0     0.0    0.0
D          Deportivo La Coruna       1.0        5.0    4.0     1.0    0.0
E          Eibar                     0.0        0.0    0.0     0.0    0.0
           Elche                     0.0        0.0    0.0     0.0    1.0
           Espanyol                  0.0        0.0    4.0     5.0    2.0
           Europa                    0.0        0.0    0.0     0.0    0.0
           Extremadura               0.0        0.0    0.0     0.0    0.0
G          Getafe                    0.0        0.0    0.0     0.0    0.0
           Gimnastic                 0.0        0.0    0.0     0.0    0.0
           Girona                    0.0        0.0    0.0     0.0    0.0
           Granada                   0.0        0.0    0.0     0.0    0.0
H          Hercules                  0.0        0.0    0.0     0.0    1.0
J          Jaen                      0.0        0.0    0.0     0.0    0.0
L          Las Palmas                0.0        1.0    1.0     1.0    1.0
           Leganes                   0.0        0.0    0.0     0.0    0.0
           Levante                   0.0        0.0    0.0     0.0    0.0
           Lleida                    0.0        0.0    0.0     0.0    0.0
           Logrones                  0.0        0.0    0.0     0.0    0.0
M          Malaga                    0.0        0.0    0.0     1.0    0.0
           Mallorca                  0.0        0.0    2.0     0.0    2.0
           Merida                    0.0        0.0    0.0     0.0    0.0
           Murcia                    0.0        0.0    0.0     0.0    0.0
N          Numancia                  0.0        0.0    0.0     0.0    0.0
O          Osasuna                   0.0        0.0    0.0     2.0    2.0
           Oviedo                    0.0        0.0    3.0     2.0    2.0
P          Pontevedra                0.0        0.0    0.0     0.0    0.0
R          Racing Santander          0.0        1.0    1.0     2.0    0.0
           Rayo Vallecano            0.0        0.0    0.0     0.0    0.0
           Real Betis                1.0        0.0    2.0     3.0    4.0
           Real Burgos               0.0        0.0    0.0     0.0    0.0
           Real Madrid              33.0       23.0    8.0     8.0    3.0
           Real Sociedad             2.0        3.0    2.0     5.0    4.0
           Real Union                0.0        0.0    0.0     0.0    0.0
           Recreativo                0.0        0.0    0.0     0.0    0.0
S          Sabadell                  0.0        0.0    0.0     1.0    1.0
           Salamanca                 0.0        0.0    0.0     0.0    0.0
           Sevilla                   1.0        4.0    4.0     5.0   12.0
           Sporting Gijon            0.0        1.0    1.0     2.0    2.0
T          Tenerife                  0.0        0.0    0.0     0.0    2.0
V          Valencia                  6.0        6.0   10.0    11.0   10.0
           Valladolid                0.0        0.0    0.0     1.0    1.0
           Villarreal                0.0        1.0    1.0     2.0    3.0
X          Xerez                     0.0        0.0    0.0     0.0    0.0
Z          Zaragoza                  0.0        1.0    4.0     5.0    4.0

                                Sixth   Debut  BestPosition
Team group Team
A          AD Almeria             0.0  1979.0          10.0
           Alaves                 1.0  1930.0           6.0
           Albacete               0.0  1991.0           7.0
           Alcoyano               0.0  1945.0          10.0
           Almeria                0.0  2007.0           8.0
           Arenas                 0.0  1929.0           3.0
           Athletic Bilbao       10.0  1929.0           1.0
           Atletico Madrid        6.0  1929.0           1.0
           Atletico Tetuan        0.0  1951.0          16.0
B          Barcelona              6.0  1929.0           1.0
           Burgos CF              0.0  1971.0          12.0
C          Cadiz                  0.0  1977.0          12.0
           Castellon              0.0  1941.0           4.0
           Celta Vigo             5.0  1939.0           4.0
           Compostela             0.0  1994.0          10.0
           Condal                 0.0  1956.0          16.0
           Cordoba                0.0  1962.0           5.0
           Cultural Leonesa       0.0  1955.0          15.0
D          Deportivo La Coruna    1.0  1941.0           1.0
E          Eibar                  0.0  2014.0          10.0
           Elche                  1.0  1959.0           5.0
           Espanyol               5.0  1929.0           3.0
           Europa                 0.0  1929.0           8.0
           Extremadura            0.0  1996.0          17.0
G          Getafe                 1.0  2004.0           6.0
           Gimnastic              0.0  1947.0           7.0
           Girona                 0.0  2017.0           9.0
           Granada                2.0  1941.0           6.0
H          Hercules               4.0  1935.0           5.0
J          Jaen                   0.0  1953.0          14.0
L          Las Palmas             1.0  1951.0           2.0
           Leganes                0.0  2016.0          17.0
           Levante                1.0  1963.0           6.0
           Lleida                 0.0  1950.0          16.0
           Logrones               0.0  1987.0           7.0
M          Malaga                 1.0  1949.0           4.0
           Mallorca               1.0  1960.0           3.0
           Merida                 0.0  1995.0          19.0
           Murcia                 0.0  1940.0          11.0
N          Numancia               0.0  1999.0          17.0
O          Osasuna                2.0  1935.0           4.0
           Oviedo                 4.0  1933.0           3.0
P          Pontevedra             0.0  1963.0           7.0
R          Racing Santander       1.0  1929.0           2.0
           Rayo Vallecano         0.0  1977.0           8.0
           Real Betis             4.0  1932.0           1.0
           Real Burgos            0.0  1990.0           9.0
           Real Madrid            4.0  1929.0           1.0
           Real Sociedad          3.0  1929.0           1.0
           Real Union             1.0  1929.0           6.0
           Recreativo             0.0  1978.0           8.0
S          Sabadell               0.0  1943.0           4.0
           Salamanca              0.0  1974.0           7.0
           Sevilla                6.0  1934.0           1.0
           Sporting Gijon         1.0  1944.0           2.0
T          Tenerife               0.0  1961.0           5.0
V          Valencia               7.0  1931.0           1.0
           Valladolid             1.0  1948.0           4.0
           Villarreal             2.0  1998.0           2.0
X          Xerez                  0.0  2009.0          20.0
Z          Zaragoza               4.0  1939.0           2.0

In [235]:
df.groupby(['Team', 'Team group']).mean()

,,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Team,Team group,,,,,,,,,,,,,,,,
AD Almeria,A,2.0,52.0,68.0,17.0,18.0,33.0,71.0,116.0,0.0,0.0,0.0,0.0,0.0,0.0,1979.0,10.0
Alaves,A,12.0,421.0,380.0,125.0,81.0,174.0,458.0,623.0,0.0,0.0,0.0,0.0,0.0,1.0,1930.0,6.0
Albacete,A,7.0,277.0,270.0,76.0,76.0,118.0,320.0,410.0,0.0,0.0,0.0,0.0,0.0,0.0,1991.0,7.0
Alcoyano,A,4.0,76.0,108.0,30.0,16.0,62.0,145.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,1945.0,10.0
Almeria,A,6.0,242.0,228.0,62.0,56.0,110.0,244.0,366.0,0.0,0.0,0.0,0.0,0.0,0.0,2007.0,8.0
Arenas,A,7.0,107.0,130.0,43.0,21.0,66.0,227.0,308.0,0.0,0.0,1.0,0.0,3.0,0.0,1929.0,3.0
Athletic Bilbao,A,86.0,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,8.0,7.0,10.0,5.0,8.0,10.0,1929.0,1.0
Atletico Madrid,A,80.0,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,10.0,8.0,16.0,9.0,7.0,6.0,1929.0,1.0
Atletico Tetuan,A,1.0,19.0,30.0,7.0,5.0,18.0,51.0,85.0,0.0,0.0,0.0,0.0,0.0,0.0,1951.0,16.0
Barcelona,B,86.0,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,25.0,25.0,12.0,12.0,4.0,6.0,1929.0,1.0
Burgos CF,B,6.0,168.0,204.0,59.0,50.0,95.0,216.0,310.0,0.0,0.0,0.0,0.0,0.0,0.0,1971.0,12.0
Cadiz,C,12.0,343.0,448.0,104.0,127.0,217.0,393.0,662.0,0.0,0.0,0.0,0.0,0.0,0.0,1977.0,12.0
Castellon,C,11.0,285.0,334.0,103.0,79.0,152.0,419.0,588.0,0.0,0.0,0.0,1.0,2.0,0.0,1941.0,4.0
Celta Vigo,C,51.0,1789.0,1698.0,586.0,389.0,723.0,2278.0,2624.0,0.0,0.0,0.0,2.0,4.0,5.0,1939.0,4.0
Compostela,C,4.0,190.0,160.0,52.0,45.0,63.0,199.0,241.0,0.0,0.0,0.0,0.0,0.0,0.0,1994.0,10.0
Condal,C,1.0,22.0,30.0,7.0,8.0,15.0,37.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,1956.0,16.0
Cordoba,C,9.0,230.0,282.0,82.0,63.0,137.0,285.0,430.0,0.0,0.0,0.0,0.0,1.0,0.0,1962.0,5.0
Cultural Leonesa,C,1.0,14.0,30.0,5.0,4.0,21.0,34.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,1955.0,15.0
Deportivo La Coruna,D,45.0,1814.0,1530.0,563.0,392.0,575.0,2052.0,2188.0,1.0,5.0,4.0,1.0,0.0,1.0,1941.0,1.0
Eibar,E,3.0,132.0,114.0,35.0,27.0,52.0,139.0,167.0,0.0,0.0,0.0,0.0,0.0,0.0,2014.0,10.0
Elche,E,21.0,606.0,678.0,203.0,180.0,295.0,750.0,1022.0,0.0,0.0,0.0,0.0,1.0,1.0,1959.0,5.0
Espanyol,E,82.0,2792.0,2626.0,948.0,608.0,1070.0,3609.0,3889.0,0.0,0.0,4.0,5.0,2.0,5.0,1929.0,3.0
Europa,E,3.0,42.0,54.0,18.0,6.0,30.0,97.0,131.0,0.0,0.0,0.0,0.0,0.0,0.0,1929.0,8.0
Extremadura,E,2.0,83.0,80.0,20.0,23.0,37.0,62.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,1996.0,17.0
Getafe,G,12.0,553.0,456.0,147.0,112.0,197.0,520.0,633.0,0.0,0.0,0.0,0.0,0.0,1.0,2004.0,6.0
Gimnastic,G,4.0,91.0,116.0,34.0,16.0,66.0,181.0,295.0,0.0,0.0,0.0,0.0,0.0,0.0,1947.0,7.0
Girona,G,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017.0,9.0
Granada,G,23.0,667.0,742.0,218.0,175.0,349.0,819.0,1157.0,0.0,0.0,0.0,0.0,0.0,2.0,1941.0,6.0
Hercules,H,20.0,538.0,628.0,184.0,149.0,295.0,716.0,1050.0,0.0,0.0,0.0,0.0,1.0,4.0,1935.0,5.0
Jaen,J,3.0,71.0,90.0,29.0,13.0,48.0,121.0,183.0,0.0,0.0,0.0,0.0,0.0,0.0,1953.0,14.0
Las Palmas,L,33.0,1020.0,1096.0,367.0,242.0,487.0,1347.0,1746.0,0.0,1.0,1.0,1.0,1.0,1.0,1951.0,2.0
Leganes,L,1.0,35.0,38.0,8.0,11.0,19.0,36.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,2016.0,17.0
Levante,L,11.0,416.0,402.0,113.0,95.0,194.0,430.0,632.0,0.0,0.0,0.0,0.0,0.0,1.0,1963.0,6.0
Lleida,L,2.0,40.0,68.0,13.0,14.0,41.0,70.0,182.0,0.0,0.0,0.0,0.0,0.0,0.0,1950.0,16.0
Logrones,L,9.0,293.0,346.0,96.0,92.0,158.0,291.0,489.0,0.0,0.0,0.0,0.0,0.0,0.0,1987.0,7.0
Malaga,M,36.0,1314.0,1255.0,390.0,330.0,535.0,1421.0,1763.0,0.0,0.0,0.0,1.0,0.0,1.0,1949.0,4.0
Mallorca,M,27.0,1148.0,988.0,333.0,256.0,399.0,1182.0,1371.0,0.0,0.0,2.0,0.0,2.0,1.0,1960.0,3.0
Merida,M,2.0,81.0,80.0,19.0,24.0,37.0,70.0,115.0,0.0,0.0,0.0,0.0,0.0,0.0,1995.0,19.0
Murcia,M,18.0,445.0,586.0,145.0,143.0,298.0,607.0,992.0,0.0,0.0,0.0,0.0,0.0,0.0,1940.0,11.0
Numancia,N,4.0,148.0,152.0,37.0,37.0,78.0,155.0,253.0,0.0,0.0,0.0,0.0,0.0,0.0,1999.0,17.0
Osasuna,O,37.0,1351.0,1318.0,426.0,327.0,565.0,1500.0,1834.0,0.0,0.0,0.0,2.0,2.0,2.0,1935.0,4.0
Oviedo,O,38.0,1174.0,1192.0,408.0,292.0,492.0,1642.0,1951.0,0.0,0.0,3.0,2.0,2.0,4.0,1933.0,3.0
Pontevedra,P,6.0,150.0,180.0,53.0,44.0,83.0,165.0,221.0,0.0,0.0,0.0,0.0,0.0,0.0,1963.0,7.0
Racing Santander,R,44.0,1416.0,1428.0,453.0,336.0,639.0,1843.0,2368.0,0.0,1.0,1.0,2.0,0.0,1.0,1929.0,2.0
Rayo Vallecano,R,17.0,662.0,652.0,189.0,148.0,305.0,760.0,1088.0,0.0,0.0,0.0,0.0,0.0,0.0,1977.0,8.0
Real Betis,R,51.0,1884.0,1728.0,606.0,440.0,682.0,2159.0,2492.0,1.0,0.0,2.0,3.0,4.0,4.0,1932.0,1.0
Real Burgos,R,3.0,96.0,114.0,26.0,44.0,44.0,101.0,139.0,0.0,0.0,0.0,0.0,0.0,0.0,1990.0,9.0
Real Madrid,R,86.0,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,33.0,23.0,8.0,8.0,3.0,4.0,1929.0,1.0
Real Sociedad,R,70.0,2573.0,2302.0,864.0,577.0,861.0,3228.0,3230.0,2.0,3.0,2.0,5.0,4.0,3.0,1929.0,1.0
Real Union,R,4.0,56.0,72.0,21.0,14.0,37.0,153.0,184.0,0.0,0.0,0.0,0.0,0.0,1.0,1929.0,6.0
Recreativo,R,5.0,188.0,186.0,50.0,46.0,90.0,202.0,296.0,0.0,0.0,0.0,0.0,0.0,0.0,1978.0,8.0
Sabadell,S,14.0,353.0,426.0,129.0,95.0,202.0,492.0,720.0,0.0,0.0,0.0,1.0,1.0,0.0,1943.0,4.0
Salamanca,S,12.0,375.0,423.0,123.0,102.0,198.0,422.0,581.0,0.0,0.0,0.0,0.0,0.0,0.0,1974.0,7.0
Sevilla,S,73.0,2819.0,2408.0,990.0,531.0,887.0,3680.0,3373.0,1.0,4.0,4.0,5.0,12.0,6.0,1934.0,1.0
Sporting Gijon,S,43.0,1389.0,1458.0,471.0,358.0,629.0,1753.0,2152.0,0.0,1.0,1.0,2.0,2.0,1.0,1944.0,2.0
Tenerife,T,13.0,510.0,494.0,155.0,128.0,211.0,619.0,744.0,0.0,0.0,0.0,0.0,2.0,0.0,1961.0,5.0
Valencia,V,82.0,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,6.0,6.0,10.0,11.0,10.0,7.0,1931.0,1.0
Valladolid,V,42.0,1471.0,1466.0,463.0,384.0,619.0,1767.0,2180.0,0.0,0.0,0.0,1.0,1.0,1.0,1948.0,4.0
Villarreal,V,17.0,970.0,646.0,266.0,172.0,208.0,892.0,789.0,0.0,1.0,1.0,2.0,3.0,2.0,1998.0,2.0
Xerez,X,1.0,34.0,38.0,8.0,10.0,20.0,38.0,66.0,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,20.0
Zaragoza,Z,58.0,2109.0,1986.0,698.0,522.0,766.0,2683.0,2847.0,0.0,1.0,4.0,5.0,4.0,4.0,1939.0,2.0

In [236]:
# Print only GamesPlayed and Points from above result

In [237]:
df.groupby(['Team', 'Team group']).mean()[['GamesPlayed','Points']]

                                GamesPlayed  Points
Team                Team group
AD Almeria          A                  68.0    52.0
Alaves              A                 380.0   421.0
Albacete            A                 270.0   277.0
Alcoyano            A                 108.0    76.0
Almeria             A                 228.0   242.0
Arenas              A                 130.0   107.0
Athletic Bilbao     A                2762.0  3368.0
Atletico Madrid     A                2614.0  3442.0
Atletico Tetuan     A                  30.0    19.0
Barcelona           B                2762.0  4262.0
Burgos CF           B                 204.0   168.0
Cadiz               C                 448.0   343.0
Castellon           C                 334.0   285.0
Celta Vigo          C                1698.0  1789.0
Compostela          C                 160.0   190.0
Condal              C                  30.0    22.0
Cordoba             C                 282.0   230.0
Cultural Leonesa    C                  30.0    14.0
Deportivo La Coruna D                1530.0  1814.0
Eibar               E                 114.0   132.0
Elche               E                 678.0   606.0
Espanyol            E                2626.0  2792.0
Europa              E                  54.0    42.0
Extremadura         E                  80.0    83.0
Getafe              G                 456.0   553.0
Gimnastic           G                 116.0    91.0
Girona              G                   0.0     0.0
Granada             G                 742.0   667.0
Hercules            H                 628.0   538.0
Jaen                J                  90.0    71.0
Las Palmas          L                1096.0  1020.0
Leganes             L                  38.0    35.0
Levante             L                 402.0   416.0
Lleida              L                  68.0    40.0
Logrones            L                 346.0   293.0
Malaga              M                1255.0  1314.0
Mallorca            M                 988.0  1148.0
Merida              M                  80.0    81.0
Murcia              M                 586.0   445.0
Numancia            N                 152.0   148.0
Osasuna             O                1318.0  1351.0
Oviedo              O                1192.0  1174.0
Pontevedra          P                 180.0   150.0
Racing Santander    R                1428.0  1416.0
Rayo Vallecano      R                 652.0   662.0
Real Betis          R                1728.0  1884.0
Real Burgos         R                 114.0    96.0
Real Madrid         R                2762.0  4385.0
Real Sociedad       R                2302.0  2573.0
Real Union          R                  72.0    56.0
Recreativo          R                 186.0   188.0
Sabadell            S                 426.0   353.0
Salamanca           S                 423.0   375.0
Sevilla             S                2408.0  2819.0
Sporting Gijon      S                1458.0  1389.0
Tenerife            T                 494.0   510.0
Valencia            V                2664.0  3386.0
Valladolid          V                1466.0  1471.0
Villarreal          V                 646.0   970.0
Xerez               X                  38.0    34.0
Zaragoza            Z                1986.0  2109.0

In [238]:
# For every team group, print the max, sum and min of Points

In [239]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G

In [240]:
df.sort_values(by = 'Team group')

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z

In [241]:
# For every team group, print the max, sum and min of Points

In [245]:
df.groupby('Team group')['Points'].max()

Team group
A    3442
B    4262
C    1789
D    1814
E    2792
G     667
H     538
J      71
L    1020
M    1314
N     148
O    1351
P     150
R    4385
S    2819
T     510
V    3386
X      34
Z    2109
Name: Points, dtype: int64

In [246]:
df.groupby('Team group')['Points'].sum()

Team group
A     8004
B     4430
C     2873
D     1814
E     3655
G     1311
H      538
J       71
L     1804
M     2988
N      148
O     2525
P      150
R    11260
S     4936
T      510
V     5827
X       34
Z     2109
Name: Points, dtype: int64

In [247]:
df.groupby('Team group')['Points'].min()

Team group
A      19
B     168
C      14
D    1814
E      42
G       0
H     538
J      71
L      35
M      81
N     148
O    1174
P     150
R      56
S     353
T     510
V     970
X      34
Z    2109
Name: Points, dtype: int64

In [248]:
df.groupby('Team group')['Points'].mean()

Team group
A     889.333333
B    2215.000000
C     410.428571
D    1814.000000
E     731.000000
G     327.750000
H     538.000000
J      71.000000
L     360.800000
M     747.000000
N     148.000000
O    1262.500000
P     150.000000
R    1407.500000
S    1234.000000
T     510.000000
V    1942.333333
X      34.000000
Z    2109.000000
Name: Points, dtype: float64

In [249]:
df.groupby('Team group')['Points'].count()

Team group
A    9
B    2
C    7
D    1
E    5
G    4
H    1
J    1
L    5
M    4
N    1
O    2
P    1
R    8
S    4
T    1
V    3
X    1
Z    1
Name: Points, dtype: int64

In [250]:
# get min, sum, max in the same result

In [254]:
df['Points'].agg(['min','sum','max'])

min        0
sum    54987
max     4385
Name: Points, dtype: int64

In [251]:
df.groupby('Team group')['Points'].agg(['min','sum','max'])

             min    sum   max
Team group
A             19   8004  3442
B            168   4430  4262
C             14   2873  1789
D           1814   1814  1814
E             42   3655  2792
G              0   1311   667
H            538    538   538
J             71     71    71
L             35   1804  1020
M             81   2988  1314
N            148    148   148
O           1174   2525  1351
P            150    150   150
R             56  11260  4385
S            353   4936  2819
T            510    510   510
V            970   5827  3386
X             34     34    34
Z           2109   2109  2109

In [252]:
df['Points'].agg(['min','sum','max'])

min        0
sum    54987
max     4385
Name: Points, dtype: int64

In [253]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G

In [257]:
# WHich is the first value in the points column of each group

df.groupby('Team group')['Points'].first()

# ranking basis partition by team group order by desc points and then filtering for rank = 1

Team group
A    3442
B    4262
C    1789
D    1814
E    2792
G     667
H     538
J      71
L    1020
M    1314
N     148
O    1351
P     150
R    4385
S    2819
T     510
V    3386
X      34
Z    2109
Name: Points, dtype: int64

In [267]:
df.sort_values(by = ['Team group', 'Points'])

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z

In [263]:
df.groupby('Team group')['Points'].last()

# partition by team group order by points asc then ranking = 1

Team group
A      19
B     168
C      14
D    1814
E      42
G       0
H     538
J      71
L      35
M      81
N     148
O    1174
P     150
R      56
S     353
T     510
V     970
X      34
Z    2109
Name: Points, dtype: int64

In [259]:
# get the second value of points in each group

In [268]:
# n+1th value 
# n = index value 

df.groupby('Team group')['Points'].nth(1) #-> order of sorting? desc

# dense_rank() over(partition by team group order by points desc) - where ranking = 10

Team group
A    3368
B     168
C     343
E     606
G     553
L     416
M    1148
O    1174
R    2573
S    1389
V    1471
Name: Points, dtype: int64

In [266]:
df['Team group'].value_counts()

A    9
R    8
C    7
E    5
L    5
M    4
S    4
G    4
V    3
O    2
B    2
D    1
Z    1
H    1
T    1
P    1
N    1
J    1
X    1
Name: Team group, dtype: int64

In [269]:
df

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition,Team group
Pos,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,1929,1,R
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,1929,1,B
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,1929,1,A
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,1931,1,V
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,1929,1,A
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,1934,1,S
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,1929,3,E
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,1929,1,R
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,1939,2,Z
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,1932,1,R
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,1941,1,D
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,1939,4,C
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,1948,4,V
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,1929,2,R
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,1944,2,S
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,1935,4,O
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,1949,4,M
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,1933,3,O
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,1960,3,M
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,1951,2,L
21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,1998,2,V
22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,1941,6,G
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,1977,8,R
24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,1959,5,E
25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,2004,6,G
26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,1935,5,H
27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,1961,5,T
28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,1940,11,M
29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1930,6,A
30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1963,6,L
31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,1974,7,S
32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,1943,4,S
33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,1977,12,C
34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,1987,7,L
35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,1941,4,C
36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,1991,7,A
37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,2007,8,A
38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1962,5,C
39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,1994,10,C
40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,1978,8,R
41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,1971,12,B
42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,1963,7,P
43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,1999,17,N
44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,2014,10,E
45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,1929,3,A
46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,1990,9,R
47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,1947,7,G
48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,1996,17,E
49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,1995,19,M
50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,1945,10,A
51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,1953,14,J
52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1929,6,R
53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,1979,10,A
54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,1929,8,E
55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,1950,16,L
56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,2016,17,L
57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,2009,20,X
58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,1956,16,C
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,1951,16,A
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,1955,15,C
61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,9,G

In [270]:
# group by
# .groupby('')
# .groupby(['', ''])

# .groupby('')[['']] or .groupby('')[['', '']]
# .groupby('').mean() / some other aggregate

# columns mentioned in group by would be now used as index or row labels
# if no selection of columns is mentioned then said aggregation will be applied on each column of raw df except for grouped cols

# multiple aggregations in the same result
# .agg
# df[''].agg(['min', 'max']) -> 2 different values -> 1 for min and 1 for max
# .groupby('')[['']].agg(['max', 'mean', 'sum']) -> 3 cols (1 each for each agg) / what about the row labels? - group by cols

# .first()
# .last()
# .nth() -> index value assigned to rows after sorting basis desc order

In [ ]:
# .corr()
# Co-relation
#

In [271]:
# correlation between gamesplayed and points columns

In [273]:
df[['GamesPlayed', 'Points']].corr()

# cols being compared should be different across the axes

             GamesPlayed    Points
GamesPlayed     1.000000  0.979824
Points          0.979824  1.000000

In [ ]:
# you have 2 variables
# one of the variables is points
# other is gamesplayed

# increase one of the variables by length of 1
# then other would increase by length 1 * 0.979824

# increase one of the variables by length of 3
# then other would increase by length 3 * 0.979824

In [274]:
df.corr()

,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,Debut,BestPosition
Seasons,1.000000,0.981441,0.998677,0.971954,0.989387,0.949863,0.975059,0.987828,0.589072,0.645876,0.803873,0.885872,0.772285,0.883966,-0.603151,-0.708071
Points,0.981441,1.000000,0.979824,0.997240,0.958452,0.880040,0.996656,0.944263,0.714280,0.764278,0.855072,0.926569,0.759371,0.865973,-0.543432,-0.669775
GamesPlayed,0.998677,0.979824,1.000000,0.967641,0.994053,0.956503,0.970127,0.990129,0.574716,0.632921,0.792824,0.877493,0.769016,0.876026,-0.587451,-0.710876
GamesWon,0.971954,0.997240,0.967641,1.000000,0.939844,0.852785,0.999318,0.926234,0.752204,0.797350,0.870720,0.936658,0.756510,0.863145,-0.543854,-0.648628
GamesDrawn,0.989387,0.958452,0.994053,0.939844,1.000000,0.973156,0.942668,0.992579,0.503472,0.566269,0.759529,0.846252,0.757454,0.861266,-0.577616,-0.719845
GamesLost,0.949863,0.880040,0.956503,0.852785,0.973156,1.000000,0.859169,0.985275,0.325462,0.393211,0.635079,0.736433,0.723504,0.823379,-0.600513,-0.725149
GoalsFor,0.975059,0.996656,0.970127,0.999318,0.942668,0.859169,1.000000,0.931548,0.743144,0.790532,0.869812,0.935964,0.758595,0.870050,-0.553453,-0.649455
GoalsAgainst,0.987828,0.944263,0.990129,0.926234,0.992579,0.985275,0.931548,1.000000,0.471824,0.533814,0.730566,0.821997,0.754521,0.863884,-0.615715,-0.726610
Champion,0.589072,0.714280,0.574716,0.752204,0.503472,0.325462,0.743144,0.471824,1.000000,0.971552,0.708375,0.727673,0.357736,0.489079,-0.284878,-0.305397
Runner-up,0.645876,0.764278,0.632921,0.797350,0.566269,0.393211,0.790532,0.533814,0.971552,1.000000,0.758236,0.785458,0.424482,0.539200,-0.315881,-0.360408
Third,0.803873,0.855072,0.792824,0.870720,0.759529,0.635079,0.869812,0.730566,0.708375,0.758236,1.000000,0.903808,0.716335,0.795230,-0.421825,-0.481500
Fourth,0.885872,0.926569,0.877493,0.936658,0.846252,0.736433,0.935964,0.821997,0.727673,0.785458,0.903808,1.000000,0.766941,0.815036,-0.476821,-0.543926
Fifth,0.772285,0.759371,0.769016,0.756510,0.757454,0.723504,0.758595,0.754521,0.357736,0.424482,0.716335,0.766941,1.000000,0.839816,-0.452526,-0.560976
Sixth,0.883966,0.865973,0.876026,0.863145,0.861266,0.823379,0.870050,0.863884,0.489079,0.539200,0.795230,0.815036,0.839816,1.000000,-0.531006,-0.590331
Debut,-0.603151,-0.543432,-0.587451,-0.543854,-0.577616,-0.600513,-0.553453,-0.615715,-0.284878,-0.315881,-0.421825,-0.476821,-0.452526,-0.531006,1.000000,0.588914
BestPosition,-0.708071,-0.669775,-0.710876,-0.648628,-0.719845,-0.725149,-0.649455,-0.726610,-0.305397,-0.360408,-0.481500,-0.543926,-0.560976,-0.590331,0.588914,1.000000

In [ ]:
# What would be the trace of the diagonal of the above dataframe?

In [ ]:
# num of diag elements = num rows/cols?

In [276]:
len(df.columns)

18

In [277]:
# reading a new file into a new datframe

In [278]:
df2 = pd.read_csv('bank_data_marketing.csv')

In [279]:
df2

,age,job,marital,education,default,housing,loan,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,pred_subs,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,Campaign-2,999-Days,0,nonexistent,-1.8,92.893,-46.2,no,1.313,5099.1
1,39,services,single,high.school,no,no,no,Campaign-4,999-Days,0,nonexistent,1.1,93.994,-36.4,no,4.855,5191
2,25,services,married,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,1.4,94.465,-41.8,no,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,Campaign-3,999-Days,0,nonexistent,1.4,94.465,-41.8,no,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,Campaign-1,999-Days,0,nonexistent,-0.1,93.2,-42.0,no,4.191,5195.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,Campaign-1,999-Days,0,nonexistent,1.4,93.918,-42.7,no,4.958,5228.1
4115,39,admin.,married,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,1.4,93.918,-42.7,no,4.959,5228.1
4116,27,student,single,high.school,no,no,no,Campaign-2,999-Days,1,failure,-1.8,92.893,-46.2,no,1.354,5099.1
4117,58,admin.,married,high.school,no,no,no,Campaign-1,999-Days,0,nonexistent,1.4,93.444,-36.1,no,4.966,5228.1
4118,34,management,single,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,-0.1,93.2,-42.0,no,4.12,5195.8

In [280]:
# deal with null values

In [281]:
# Identify where they exist?

In [282]:
df.value_counts()

Team                 Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  GamesLost  GoalsFor  GoalsAgainst  Champion  Runner-up  Third  Fourth  Fifth  Sixth  Debut  BestPosition  Team group
AD Almeria           2        52      68           17        18          33         71        116           0         0          0      0       0      0      1979   10            A             1
Leganes              1        35      38           8         11          19         36        55            0         0          0      0       0      0      2016   17            L             1
Lleida               2        40      68           13        14          41         70        182           0         0          0      0       0      0      1950   16            L             1
Logrones             9        293     346          96        92          158        291       489           0         0          0      0       0      0      1987   7             L             1
Malaga               36       1314    1255         390       330         535        1421      1763          0         0          0      1       0      1      1949   4             M             1
Mallorca             27       1148    988          333       256         399        1182      1371          0         0          2      0       2      1      1960   3             M             1
Merida               2        81      80           19        24          37         70        115           0         0          0      0       0      0      1995   19            M             1
Murcia               18       445     586          145       143         298        607       992           0         0          0      0       0      0      1940   11            M             1
Numancia             4        148     152          37        37          78         155       253           0         0          0      0       0      0      1999   17            N             1
Osasuna              37       1351    1318         426       327         565        1500      1834          0         0          0      2       2      2      1935   4             O             1
Oviedo               38       1174    1192         408       292         492        1642      1951          0         0          3      2       2      4      1933   3             O             1
Pontevedra           6        150     180          53        44          83         165       221           0         0          0      0       0      0      1963   7             P             1
Racing Santander     44       1416    1428         453       336         639        1843      2368          0         1          1      2       0      1      1929   2             R             1
Rayo Vallecano       17       662     652          189       148         305        760       1088          0         0          0      0       0      0      1977   8             R             1
Real Betis           51       1884    1728         606       440         682        2159      2492          1         0          2      3       4      4      1932   1             R             1
Real Burgos          3        96      114          26        44          44         101       139           0         0          0      0       0      0      1990   9             R             1
Real Madrid          86       4385    2762         1647      552         563        5947      3140          33        23         8      8       3      4      1929   1             R             1
Real Sociedad        70       2573    2302         864       577         861        3228      3230          2         3          2      5       4      3      1929   1             R             1
Real Union           4        56      72           21        14          37         153       184           0         0          0      0       0      1      1929   6             R             1
Recreativo           5        188     186          50        46          90         202       296           0         0          0      0       0      0      1978   8             R             1
Sabadell             14       353     426          129       95          202        492       720           0         0          0      1       1      0      1943   4             S             1
Salamanca            12       375     423          123       102         198        422       581           0         0          0      0       0      0      1974   7             S             1
Sevilla              73       2819    2408         990       531         887        3680      3373          1         4          4      5       12     6      1934   1             S             1
Sporting Gijon       43       1389    1458         471       358         629        1753      2152          0         1          1      2       2      1      1944   2             S             1
Tenerife             13       510     494          155       128         211        619       744           0         0          0      0       2      0      1961   5             T             1
Valencia             82       3386    2664         1187      616         861        4398      3469          6         6          10     11      10     7      1931   1             V             1
Valladolid           42       1471    1466         463       384         619        1767      2180          0         0          0      1       1      1      1948   4             V             1
Villarreal           17       970     646          266       172         208        892       789           0         1          1      2       3      2      1998   2             V             1
Xerez                1        34      38           8         10          20         38        66            0         0          0      0       0      0      2009   20            X             1
Levante              11       416     402          113       95          194        430       632           0         0          0      0       0      1      1963   6             L             1
Las Palmas           33       1020    1096         367       242         487        1347      1746          0         1          1      1       1      1      1951   2             L             1
Alaves               12       421     380          125       81          174        458       623           0         0          0      0       0      1      1930   6             A             1
Jaen                 3        71      90           29        13          48         121       183           0         0          0      0       0      0      1953   14            J             1
Albacete             7        277     270          76        76          118        320       410           0         0          0      0       0      0      1991   7             A             1
Alcoyano             4        76      108          30        16          62         145       252           0         0          0      0       0      0      1945   10            A             1
Almeria              6        242     228          62        56          110        244       366           0         0          0      0       0      0      2007   8             A             1
Arenas               7        107     130          43        21          66         227       308           0         0          1      0       3      0      1929   3             A             1
Athletic Bilbao      86       3368    2762         1209      633         920        4631      3700          8         7          10     5       8      10     1929   1             A             1
Atletico Madrid      80       3442    2614         1241      598         775        4534      3309          10        8          16     9       7      6      1929   1             A             1
Atletico Tetuan      1        19      30           7         5           18         51        85            0         0          0      0       0      0      1951   16            A             1
Barcelona            86       4262    2762         1581      573         608        5900      3114          25        25         12     12      4      6      1929   1             B             1
Burgos CF            6        168     204          59        50          95         216       310           0         0          0      0       0      0      1971   12            B             1
Cadiz                12       343     448          104       127         217        393       662           0         0          0      0       0      0      1977   12            C             1
Castellon            11       285     334          103       79          152        419       588           0         0          0      1       2      0      1941   4             C             1
Celta Vigo           51       1789    1698         586       389         723        2278      2624          0         0          0      2       4      5      1939   4             C             1
Compostela           4        190     160          52        45          63         199       241           0         0          0      0       0      0      1994   10            C             1
Condal               1        22      30           7         8           15         37        57            0         0          0      0       0      0      1956   16            C             1
Cordoba              9        230     282          82        63          137        285       430           0         0          0      0       1      0      1962   5             C             1
Cultural Leonesa     1        14      30           5         4           21         34        65            0         0          0      0       0      0      1955   15            C             1
Deportivo La Coruna  45       1814    1530         563       392         575        2052      2188          1         5          4      1       0      1      1941   1             D             1
Eibar                3        132     114          35        27          52         139       167           0         0          0      0       0      0      2014   10            E             1
Elche                21       606     678          203       180         295        750       1022          0         0          0      0       1      1      1959   5             E             1
Espanyol             82       2792    2626         948       608         1070       3609      3889          0         0          4      5       2      5      1929   3             E             1
Europa               3        42      54           18        6           30         97        131           0         0          0      0       0      0      1929   8             E             1
Extremadura          2        83      80           20        23          37         62        117           0         0          0      0       0      0      1996   17            E             1
Getafe               12       553     456          147       112         197        520       633           0         0          0      0       0      1      2004   6             G             1
Gimnastic            4        91      116          34        16          66         181       295           0         0          0      0       0      0      1947   7             G             1
Girona               1        0       0            0         0           0          0         0             0         0          0      0       0      0      2017   9             G             1
Granada              23       667     742          218       175         349        819       1157          0         0          0      0       0      2      1941   6             G             1
Hercules             20       538     628          184       149         295        716       1050          0         0          0      0       1      4      1935   5             H             1
Zaragoza             58       2109    1986         698       522         766        2683      2847          0         1          4      5       4      4      1939   2             Z             1
dtype: int64

In [287]:
df2.isna().value_counts()

age    job    marital  education  default  housing  loan   campaign  pdays  previous  poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  pred_subs  euribor3m  nr.employed
False  False  False    False      False    False    False  False     False  False     False     False         False           False          False      False      False          4108
                                                           True      False  False     False     False         False           False          False      False      False             3
                                                           False     False  False     False     False         False           False          False      False      True              2
                                                                                                                                             True       False      False             1
                                                                                      True      False         False           False          False      False      False             1
                       True       False    False    False  False     False  False     False     False         False           False          False      False      False             1
              True     False      False    False    False  False     False  False     False     False         False           False          False      False      False             1
       True   False    False      False    False    False  False     False  False     False     False         False           False          False      False      False             1
                                                                                      True      False         False           False          False      False      False             1
dtype: int64

In [289]:
df2['age'].isna().value_counts()

# group by -> same as col provided
# agg - Count num of occurrances of each row in each group

False    4119
Name: age, dtype: int64

In [290]:
len(df2)

4119

In [293]:
df2['age'].isna().value_counts()

False    4119
Name: age, dtype: int64

In [291]:
df2

,age,job,marital,education,default,housing,loan,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,pred_subs,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,Campaign-2,999-Days,0,nonexistent,-1.8,92.893,-46.2,no,1.313,5099.1
1,39,services,single,high.school,no,no,no,Campaign-4,999-Days,0,nonexistent,1.1,93.994,-36.4,no,4.855,5191
2,25,services,married,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,1.4,94.465,-41.8,no,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,Campaign-3,999-Days,0,nonexistent,1.4,94.465,-41.8,no,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,Campaign-1,999-Days,0,nonexistent,-0.1,93.2,-42.0,no,4.191,5195.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,Campaign-1,999-Days,0,nonexistent,1.4,93.918,-42.7,no,4.958,5228.1
4115,39,admin.,married,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,1.4,93.918,-42.7,no,4.959,5228.1
4116,27,student,single,high.school,no,no,no,Campaign-2,999-Days,1,failure,-1.8,92.893,-46.2,no,1.354,5099.1
4117,58,admin.,married,high.school,no,no,no,Campaign-1,999-Days,0,nonexistent,1.4,93.444,-36.1,no,4.966,5228.1
4118,34,management,single,high.school,no,yes,no,Campaign-1,999-Days,0,nonexistent,-0.1,93.2,-42.0,no,4.12,5195.8

In [295]:
df2.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   bool
 1   job             4119 non-null   bool
 2   marital         4119 non-null   bool
 3   education       4119 non-null   bool
 4   default         4119 non-null   bool
 5   housing         4119 non-null   bool
 6   loan            4119 non-null   bool
 7   campaign        4119 non-null   bool
 8   pdays           4119 non-null   bool
 9   previous        4119 non-null   bool
 10  poutcome        4119 non-null   bool
 11  emp.var.rate    4119 non-null   bool
 12  cons.price.idx  4119 non-null   bool
 13  cons.conf.idx   4119 non-null   bool
 14  pred_subs       4119 non-null   bool
 15  euribor3m       4119 non-null   bool
 16  nr.employed     4119 non-null   bool
dtypes: bool(17)
memory usage: 68.5 KB